body {
    font-family: Arial;
    margin: 20px;
}

.box {
    border: 1px solid #ddd;
    padding: 10px;
    height: 150px;
    overflow-y: auto;
    background: #fafafa;
}

.panel input {
    margin-right: 5px;
}

.voteBox {
    margin-top: 20px;
}
